<!--Not Currently used-->
<footer class="page-footer font-small" style="color: #132225;"> 
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> cartlandiareviews.com</a>
    </div>
    <!-- Copyright -->
  </footer>